**[SQL Micro-Course Home Page](https://www.kaggle.com/learn/SQL)**

---

# Introduction

The first test of your new data exploration skills uses a data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers, and then it sets up the database helper object so you can connect to the database.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *


# create a helper object for our bigquery dataset
import bq_helper
chicago_crime = bq_helper.BigQueryHelper(active_project= "bigquery-public-data", 
                                         dataset_name = "chicago_crime")
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

For reference, here is all the code you saw in the first tutorial:

```
hacker_news = bq_helper.BigQueryHelper(active_project= "bigquery-public-data", 
                                       dataset_name = "hacker_news")
hacker_news.list_tables()
hacker_news.table_schema("full")
hacker_news.head("full")
hacker_news.head("full", selected_columns="by", num_rows=10)
```

# Exercises

## 1
How many tables are in the Chicago Crime dataset?

In [2]:
____ # Write the code you need here to figure out the answer
chicago_crime.list_tables()

['crime']

In [3]:
num_tables = 1  # store the answer as num_tables and then run this cell

q_1.check()

Correct

For a hint or the solution, comment the appropriate line below.

In [4]:
 q_1.hint()
 q_1.solution()

Hint: Run `chicago_crime.list_tables()` in the top cell. Interpret the output to fill in `num_tables`

Solution:
```python

chicago_crime.list_tables()
num_tables = 1   # also could have done num_tables = len(chicago_crime.list_tables())

```

## 2

How many columns in the `crime` table have `TIMESTAMP` data?

In [5]:
____ # Write the code to figure out the answer
chicago_crime.table_schema('crime')
chicago_crime.head('crime')

   unique_key              ...                                     location
0     7533246              ...                (41.654708481, -87.544723204)
1     7534376              ...                 (41.82942391, -87.679219332)
2     7547166              ...                (41.974592517, -87.796376446)
3     7550529              ...                (41.658312389, -87.615149347)
4     7551220              ...                (41.968421196, -87.787154457)

[5 rows x 22 columns]

In [6]:
num_timestamp_fields = 2 # put your answer here

q_2.check()

Correct

For a hint or the solution, comment the appropriate line below.

In [7]:
q_2.hint()
q_2.solution()

Hint: Run `chicago_crime.table_schema('crime')` and count the number of fields with TIMESTAMP type

Solution:
```python

chicago_crime.table_schema('crime')
num_timestamp_fields = 2

```

## 3

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the database to plot the crimes on a map?

In [8]:
____ # Write the code here to explore the data so you can find the answer
chicago_crime.head("crime")

   unique_key              ...                                     location
0     7533246              ...                (41.654708481, -87.544723204)
1     7534376              ...                 (41.82942391, -87.679219332)
2     7547166              ...                (41.974592517, -87.796376446)
3     7550529              ...                (41.658312389, -87.615149347)
4     7551220              ...                (41.968421196, -87.787154457)

[5 rows x 22 columns]

In [9]:
fields_for_plotting = ['latitude', 'longitude']

q_3.check()

Correct

For a hint or the solution, comment the appropriate line below.

In [10]:
q_3.hint()
q_3.solution()

Hint: There are a couple options, but two of the fields are things commonly used to plot on maps. Both are FLOAT types. Use quotes around the field names in your answer

Solution:
```python
fields_for_plotting = ['latitude', 'longitude']
```

Thinking about the question above, there are a columns that appear to have geographic data. Look at a few values (with the `head` command) to see if you can determine their relationship.  Two columns will still hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [11]:
# Scratch space for your code
chicago_crime.head("crime",selected_columns = ["location","latitude","longitude"], num_rows = 10)

    latitude              ...                                     location
0  41.654708              ...                (41.654708481, -87.544723204)
1  41.829424              ...                 (41.82942391, -87.679219332)
2  41.974593              ...                (41.974592517, -87.796376446)
3  41.658312              ...                (41.658312389, -87.615149347)
4  41.968421              ...                (41.968421196, -87.787154457)
5  41.725622              ...                (41.725622159, -87.597300063)
6  41.707525              ...                (41.707524547, -87.541338707)
7  41.978357              ...                (41.978356584, -87.811033721)
8  41.691315              ...                (41.691314623, -87.717043381)
9  41.818652              ...                (41.818652143, -87.605678644)

[10 rows x 3 columns]

# Keep Going

You've looked at the schema, but you haven't yet done anything exciting at the data itself. Things get more interesting when you get to the data, so keep going to learn **[Select Queries](https://www.kaggle.com/dansbecker/select-from-where).**

---
**[SQL Micro-Course Home Page](https://www.kaggle.com/learn/SQL)**